.myfirstLine{
    position: fixed;
    top: 3.8vw;
    padding-left: 2.5vw;
    padding-top: .5vw;
    width: 80vw;
    height: 3.5vw;
    z-index: 1;
    background-color: white;
}
ul{
    display: flex;
    padding: 0 1.3vw;
}
li  {
    margin: .4vw 0vw;
    padding: 0 1vw;
    list-style-type: none;
}
/* 
.mydropdownButton
{
    background-color: white;
    border: none;
    font-size: 1vw;
    color: rgb(72, 72, 72);
}

.mydropdownButton:hover{
    color:rgb(72, 72, 72);
    border-bottom: 2px solid red;
} */

.mymainLink{
    text-decoration: none;
    color: rgb(72, 72, 72);
    cursor: pointer;
}

#firstChildOfMainLink
{
    text-decoration: none;
    color: rgb(72, 72, 72);
    cursor: pointer;
    border-bottom: 2px solid red;
}

.mymainLink:hover{
    border-bottom: 2px solid rgb(255, 71, 71);
    color:rgb(72, 72, 72);
}
