.container{
    display: flex;
    flex-direction: column;
}

.OnePart{
    display: flex;
}

.leftPart{
    position: absolute;
    width: 70vw;
}


.trendingSongHeading{
    color: black;
    position:absolute;
    left: 5vw;
    margin-top: 8vw;
    font-weight: bold;
}

.songListRow{
    position: relative;
    display: flex;
    width: 75vw;
    margin-left: 2vw;
    overflow: hidden;
    top: 6vw;
}
.songItem
{
    /* background-color: aqua; */
}



.rightPart{
    position :fixed;
    /* background-color: tan; */
    width: 10vw;
    top:8vw;
    left: 80vw;
}

.rightPart img{
    width: 20vw;
    height: auto;
}